.wrapper {
    margin-top: 45px;
}

.form-signin {
    max-width: 420px;
    padding: 30px 38px 66px;
    margin: 0 auto;
    border: 1px solid #cccccc;
}

.input-group {
    height: 45px;
    margin-bottom: 15px;
    border-radius: 0px;
    color: #60B99A;
}

.form-control {
    height: 45px;
    color: #2d2f2f;
}

.input-group:hover span i {
    color: #60B99A;
}

.btn-block {
    border-radius: 0px;
    margin-top: 25px;
    background-color: #60B99A;
    border: none;
}

    .btn-block:hover {
        background-color: #D3CE3D;
    }

.bol {
    position: relative;
    margin-top: -40px;
    color: #60B99A;
}
/* Footer */

footer {
    background-color: #424558;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
    color: #080808;
}

    footer p {
        padding: 10.5px;
        margin: 0px;
        line-height: 100%;
        background-color: #080808;
        color: #9d9d9d;
    }

.img-pagamento {
    height: 35px !important;
    margin-left: 0% !important;
}

.texto-dados-pagamento {
    vertical-align: baseline;
}

.jumbotron {
    position: relative;
    background: #000 url("../Imagens/topo-Site-Americas-Y-El-Caribe-color-_2_.jpeg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

